@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;

    background-color: antiquewhite;
}

.card-body{
    width: 400px;
    padding: 35px;
    height: max-content;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

img{
    width: 180px;
    height: auto;
    border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

p{
    text-align: center;
}

.card-links{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top: 1px wheat solid;
}

.bi {
    color: #333;
    font-size: 32px; 
}

.bi-github {
    color: #000;
}

.bi-linkedin {
    color: #0077b5;
}

.bi-instagram {
    color: #e4405f;
}